.no-card-appearence {
  background-color: transparent !important;

  .acoes-imagem,
  .acoes-form {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;

    button {
      min-width: 150px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}
