<div class="dashboard-container">

  <app-banner-configuracao *appHasPermission="Permission.ADMIN_PERMISSION"></app-banner-configuracao>
  <app-avatar-configuracao *appHasPermission="Permission.ADMIN_PERMISSION"></app-avatar-configuracao>
  <app-nome-configuracao *appHasPermission="Permission.ADMIN_PERMISSION"></app-nome-configuracao>
  <app-horario-configuracao *appHasPermission="Permission.ADMIN_PERMISSION"></app-horario-configuracao>
  <app-tempo-atendimento *appHasPermission="Permission.EMPLOYEE_PERMISSION"></app-tempo-atendimento>
  <app-configuracao-horarios *appHasAnyPermissions="[Permission.EMPLOYEE_PERMISSION, Permission.ADMIN_PERMISSION]"></app-configuracao-horarios>

</div>
