:host{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.imagem-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px dashed var(--border);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.banner-preview {
  height: 300px;
  width: 100%;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &.preview {
    border: 3px solid var(--primary);
  }
}

.logo-preview {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

  &.preview {
    border: 3px solid var(--primary);
  }
}


.acoes-imagem,
.acoes-form {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;

  button {
    min-width: 150px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
