.sidenav-container {
  height: 100%;
}

.sidenav {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  width: 280px;
}

.sidenav .mat-toolbar {
  background: inherit;
  height: 90px;
  overflow: hidden;
  border-bottom: 1px solid rgb(201, 200, 200);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-mdc-list-item:not(.mat-mdc-list-item-interactive),
.mat-mdc-list-option:not(.mat-mdc-list-item-interactive) {
  cursor: pointer;
  height: 90px !important;
  align-items: center;
}

::ng-deep .mdc-list-item.mdc-list-item--with-one-line .avatar-list-item {
  width: 60px !important;
  height: 60px !important;
  background-color: black !important;
  object-fit: fill !important;
  padding: 5px;
}

.parallax-bg {
  min-width: 100%;
  position: absolute;
  z-index: -1;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

