<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">

    <mat-toolbar *ngIf="usuarioAutenticado">
      <mat-list>
        <mat-list-item>
          <!-- ✅ Logo com fallback -->
          <img *ngIf="logoUrl; else defaultLogo" matListItemAvatar class="avatar-list-item" [src]="logoUrl"
            alt="Logo da Empresa">

          <ng-template #defaultLogo>
            <img matListItemAvatar class="avatar-list-item" src="/logo.png" alt="Logo">
          </ng-template>

          Olá, {{ usuarioAutenticado.userName }}
        </mat-list-item>
      </mat-list>

      <button mat-button class="rounded-end-circle btn-logout" (click)="logoutEfetuado()" matTooltip="Efetuar Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <ng-container>
      <mat-nav-list *ngIf="!usuarioAutenticado">
        <a mat-list-item *ngFor="let link of visibleRoutesPublicos$ | async" [routerLink]="link.rota"
          matTooltip="Ir para {{ link.titulo }}">
          <mat-icon matListItemIcon>{{ link.icone }}</mat-icon>
          {{ link.titulo }}
        </a>
      </mat-nav-list>
    </ng-container>

    <ng-container>
      <mat-nav-list *ngIf="usuarioAutenticado">
        <a mat-list-item *ngFor="let link of visibleRoutesAutenticados$ | async" [routerLink]="link.rota"
          matTooltip="Ir para {{ link.titulo }}">
          <mat-icon matListItemIcon>{{ link.icone }}</mat-icon>
          {{ link.titulo }}
        </a>
      </mat-nav-list>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- ✅ Nome da empresa -->
      <span>{{ nomeEmpresa }}</span>
    </mat-toolbar>

    <!-- ✅ Banner com fallback -->
    <section class="parallax-bg" [style.background-image]="bannerUrl
        ? 'url(' + bannerUrl + ')'
        : 'url('+bannerUrl+')'"> <!-- mudar para bannerPadrão-->
      <ng-content></ng-content>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
