:host {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

/* CARD */
.funcionario-card {
  max-width: 750px;
  margin: 22px auto;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: transform .25s ease, box-shadow .25s ease;

}

/* HEADER MAIS MODERNO */
.func-header {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  background: var(--app-btn-destaque);
  color: white;
  position: relative;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.header-text {
  margin-left: 18px;

  .nome {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: white;
  }

  .cargo {
    margin: 0;
    margin-top: 2px;
    font-size: 15px;
    opacity: 0.9;
  }
}


/* INFORMAÇÕES */
.info-wrapper {
  padding: 22px;
  background-color: var(--app-btn-destaque-transparency);
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: all 0.3s ease;

  &:last-child {
    border-bottom: none;
  }

  mat-icon {
    font-size: 24px;
    color: var(--btn-destaque);
  }

  .label {
    font-size: 16px;
    text-transform: uppercase;
    color: #777;
  }

  .value {
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }
}

/* AÇÕES */
.actions-row {
  padding: 14px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  background-color: var(--app-btn-destaque);
}
