
  <!-- INFORMAÇÕES -->
  <mat-card class="no-card-appearence">
    <mat-card-header>
      <mat-card-title>Informações do Funcionário</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mt-3">
      <form [formGroup]="form" (ngSubmit)="atualizarAtendimento()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Tempo de atendimento</mat-label>
          <input matInput formControlName="tempoAtendimento" placeholder="Digite o tempo de atendimento">
          <mat-icon matIconPrefix>alarm</mat-icon>
          <mat-error *ngIf="tempoAtendimento?.hasError('required')">Tempo de atendimento é obrigatório.</mat-error>
          <mat-error *ngIf="tempoAtendimento?.hasError('min')">Mínimo 1 minuto.</mat-error>
        </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome de intervalo</mat-label>
          <input matInput formControlName="tempoIntervalo" placeholder="Digite tempo de intervalo">
          <mat-icon matIconPrefix>alarm_off</mat-icon>
          <mat-error *ngIf="tempoIntervalo?.hasError('required')">Tempo de intervalo é obrigatório.</mat-error>
        </mat-form-field>

        <div class="acoes-form">
          <button mat-raised-button class="btn-main-color" type="submit"
            [disabled]="form.invalid || salvandoAtendimento">
            <mat-icon>save</mat-icon>
            {{ salvandoAtendimento ? "Salvando..." : "Salvar Alterações" }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
